<!DOCTYPE html>
<html>
<head>
  <title>Insight</title>
  <%= stylesheet_link_tag    "insight/application" %>
  <%= javascript_include_tag "insight/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="insight_container">
  <%= yield %>
</div>

</body>
</html>
