The home page

<%= link_to 'Convert product page', convert_product_page_path %><br />
<%= link_to 'Convert sidebar', convert_sidebar_path %><br />
<%= link_to 'Convert both', convert_both_path %><br />

<%= @test1.inspect %><br />
<%= @test2.inspect %>
