<%
classes = []
classes << 'control' if alternative.control?
classes << 'leader' if alternative.leader?
%>
<tr<%= " class=\"#{classes.join(' ')}\"".html_safe if classes.length > 0 %>>
  <td><%= alternative.title %></td>
  <td><%= alternative.participants %></td>
  <td><%= alternative.conversions %></td>
  <td><%= (100 * alternative.conversion_rate) %>%</td>

  <% if alternative.control? %>
    <td></td>
    <td></td>
  <% else %>
    <td><%= colored_change(alternative.conversion_change) %></td>
    <td><%= (100 * alternative.confidence_level).round(2) %>%</td>
  <% end %>
</tr>
