<h2><%= experiment.title %></h2>
<p><%= experiment.description %></p>
<table>
  <thead>
    <tr>
      <td>
      </td>
      <td>Participants</td>
      <td>Conversions</td>
      <td>Conversion Rate</td>
      <td>Conversion Change</td>
      <td>Confidence Level</td>
  </thead>
  <tbody>
    <%= render :partial => 'alternative', :locals => {:alternative => experiment.control} if experiment.control %>
    <% experiment.alternatives.each do |akey, a| %>
      <%= render :partial => 'alternative', :locals => {:alternative => a} %>
    <% end if experiment.alternatives %>
  </tbody>
</table>
