$insight_background_color: #8EC6E1;

$insight_control_color: #055D88;

$insight_leader_background_color: #FFEB9C;
$insight_stripe_background_color: #f0f0f0;

$insight_red: red;
$insight_green: green;
