@import "config";

body {font-family: helvetica; font-size: 16px}

h1, h2, h3, h4 {font-weight: 400}

#insight_container {width: 1000px; margin: 0px auto}

h2 {font-size: 30px; margin-bottom: 0px; margin-top: 30px}

.upward_change {color: $insight_green}
.downward_change {color: $insight_red}
