@import "config";

#experiments {

  h2 {width: 350px; margin-top: 50px}

  > p {
    color: #a0a0a0; margin-top: 0px; width: 350px;
  }

  table {
    width: 100%; margin-top: -40px;

    tr {
      td {
        padding: 5px 10px;
        text-align: center;
        border-top: 3px solid $insight_stripe_background_color;
      }

      td:first-child {
        text-align: left;
        border-top-color: transparent;
        width: 360px
      }
    }

    tr.control {
      color: $insight_control_color;

      td {
        border-bottom: 5px;
      }
    }

    tr.leader {
      background-color: $insight_leader_background_color;
    }

    tr:first-child {
      td {
        border-top: none;
      }
    }

    tr:nth-child(2n+1) {
    }

    // thead tr {
    //   background-color: $insight_background_color; color: $insight_control_color;
    // }
    thead {
      tr:nth-child(2n+1) {
        background-color: transparent;
      }

      tr {
        td {
          border-bottom: 9px solid #0969A2;
          border-top-color: transparent;
        }

        td:first-child {
          border-bottom-color: white;
        }
      }
    }

  }

}
